@import url('BaseHeader.css');
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#redemption{
    margin:0 auto;
}
fieldset {
    border-radius: 3px;
    border: 1px solid #666;
}

.form-Wrapper {
    padding: 10px;
}

fieldset + fieldset {
    margin-top: 40px;
}

@media (min-width: 900px) {
    .form-Wrapper {
        max-width: 750px;
        margin: 0 auto;
        margin-left:0px;
        margin-right:0px;
    }
}

.form-Intro {
    padding-bottom: 10px;
}

    .form-Intro h1 {
        margin-bottom: 0;
    }

    .form-Intro h2 {
        margin-top: 5px;
        font-weight: 400;
        line-height: 1.3;
    }

.form-Input_Wrapper {
    display: flex;
    flex-direction: column-reverse;
}

    .form-Input_Wrapper label {
        color: #888888;
        font-size: 15px;
        margin-bottom: 5px;
    }

@media (min-width: 900px) {
    .form-Input_Wrapper {
        flex-direction: row-reverse;
        align-items: center;
    }

        .form-Input_Wrapper input:not([type="range"]):not([type="color"]) {
            flex: 0 0 50%;
        }

        .form-Input_Wrapper label {
            flex: 1 0 50%;
            margin-bottom: 0;
        }

    textarea {
        flex: 1 0 50%;
    }
}

.form-Input_Wrapper + .form-Input_Wrapper {
    margin-top: 10px;
}

/*Wrap the slider and the indicator so they stay as one visual item*/
.form-Slider_Wrapper {
    display: flex;
}

#range {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-left: 1ch;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    background-color: #cc3232;
}

legend {
    font-size: 1.3em;
    padding: 3px 6px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 2px;
}

    legend span {
        font-size: 0.8em;
        opacity: 0.8;
        display: inline-flex;
    }

input:not([type="range"]),
textarea {
    min-height: 40px;
    padding: 2px;
    font-size: 17px;
    border: 1px solid #ebebeb;
    outline: none;
    background: #f1f1f1;
    border-radius: 0;
    position: relative;
}


.form-About_Wrapper {
    --caretColor: #cc3232;
}

    .form-About_Wrapper legend {
        background-color: #cc3232;
    }

    .form-About_Wrapper input:not([type="range"]) {
        box-shadow: inset 0 -3px 0 #cc3232;
    }

        .form-About_Wrapper input:not([type="range"]):focus {
            border: 1px solid #cc3232;
            box-shadow: inset 0 -3px 0 #cc3232, 0 0 15px 5px #ebebeb;
        }


.form-What_Wrapper {
    --caretColor: #739327;
}

    .form-What_Wrapper legend {
        background-color: #739327;
    }

    .form-What_Wrapper input:not([type="range"]) {
        box-shadow: inset 0 -3px 0 #739327;
    }

    .form-What_Wrapper input:focus {
        border: 1px solid #739327;
        box-shadow: inset 0 -3px 0 #739327, 0 0 15px 5px #ebebeb;
    }


.form-You_Wrapper {
    --caretColor: #236a7e;
}

    .form-You_Wrapper legend {
        background-color: #236a7e;
    }

    .form-You_Wrapper input:not([type="range"]) {
        box-shadow: inset 0 -3px 0 #236a7e;
    }

    .form-You_Wrapper input:focus {
        border: 1px solid #236a7e;
        box-shadow: inset 0 -3px 0 #236a7e, 0 0 15px 5px #ebebeb;
    }



/*Now we want some basic styling to indicate that fields are required, valid or invalid*/
input:required + label:after {
    content: "*";
    font-size: 2.1em;
    position: relative;
    top: 6px;
    display: inline-flex;
    margin-left: 0.2ch;
}

input:required:invalid + label:after {
    color: red;
}

input:required:valid + label:after {
    color: green;
}


.form-Submit_Btn {
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    margin: 1em 0;
    font-size: 1rem;
}

.flipper {
    perspective: 400px;
    position: relative;
    width: 300px;
    height: 44px;
    display: block;
}

.flipper-object {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.panel {
    display: flex;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.back {
    background-color: #739328;
    color: #fff;
}

.front {
    border: 1px solid #739328;
}
